.contents
  .contents_chat-profile
    .contents_chat-profile_info
      .contens_chat-profile_info_name
        test
      .contents_chat-profile_info_id
        member_mori
    .contents_chat-profile_sub
      .contents_chat-profile_sub_edit
        = link_to "#", class: "contents_chat-profile_sub_edit_push" do
          Edit
  .contents_chat-main
    .contents_chat-main_box
      .contents_chat-main_box_tag
        .contents_chat-main_box_tag_name
          mori
        .contents_chat-main_box_tag_day
          2019/11/20(wed) 17:43:01
      .contents_chat-main_box_comment
        おはよう！
    .contents_chat-main_box
      .contents_chat-main_box_tag
        .contents_chat-main_box_tag_name
          mori
        .contents_chat-main_box_tag_day
          2019/11/20(wed) 17:43:01
      .contents_chat-main_box_comment
        おはよう！
  .contents_chat-form
    .contents_chat-form_message
      .contents_chat-form_message_main
        message
      .contents_chat-form_message_picture
        %label{class: "contents_chat-form_message_pitcure_image"}
          = icon('far', 'image')
          %input{type:"file",class: 'hidden'}
    .contents_chat-form_send
      Send