.contents__chat--main__box
  .contents__chat--main__box__tag
    .contents__chat--main__box__tag__name
      = message.user.name
    .contents__chat--main__box__tag__day
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .contents__chat--main__box__comment
    - if message.content.present?
      %p.contents__chat--main__box__comment__content
        = message.content
    = image_tag message.image.url, class: 'contents__chat--main__box__comment__image' if message.image.present?