* {
  box-sizing: border-box;
}
.header{
  height:100vh;
  width:300px;

  .header_side-bar{
    height:100px;
    background-color: #253141;
    display: flex;

    .header_side-bar_profile{
      width: 260px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    
      .header_side-bar_profile_name{
        width:200px;
        color: white;
        font-size:16px;
      }
      .header_side-bar_profile_icons{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        padding-right: 5px;

        .header_side-bar_profile_icons_edit{
          padding-right: 5px;
        }
          a{
            color: #ffffff;
          }
      }
    }
  }
  .header_side-main{
    height: calc(100vw - 100px);
    background-color: #2f3e51;
    display: flex;
    justify-content: center;
    .header_side-main_list{
      height: 65px;
      width: 260px;
      .header_side-main_list_group{
        font-size: 15px;
        padding-top: 20px;
        color:white;
      }
      .header_side-main_list_comment{
        font-size: 11px;
        padding-top: 5px;
        color: white;
      }
    }
  }
}

