    .contents__chat--main__box{
        padding-left: 40px;
        padding-top: 35px;

      &__tag{
        display:flex;

        &__name{
            color: #333333;
            font-size: 16px;
        }
        &__day{
            color: #999999;
            font-size: 12px;
            padding-left:10px;
        }
      }
      &__comment{
        font-size: 14px;
        color: #434A54;
        padding-top: 12px;
      }
    }