* {
  box-sizing: border-box;
}
.contents{
  background-color: #ffffff;
  width: calc(100vw - 300px);

  &__chat--profile{
    height: 100px;
    background-color:#ffffff;
    border-bottom: solid 1px;
    border-color: #eeeeee;
    display: flex;
    justify-content: space-between;

    .contents__chat--profile__info{
      padding-left: 40px;
      .contens__chat--profile__info__name{
        padding-top: 35px;
        color: #333333;
        font-size: 20px;
      }
      &__id{
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__sub{
      padding-right: 40px;
      padding-top: 28px;
      &__edit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 40px;
        color: #38aef0;
        font-size: 16px;
        border: 1px solid #38aef0;

        &__push{
          color:#38aef0;
          text-decoration: none;
        }
      }
    }
  }
  &__chat--main{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  &__chat--form{
    height: 90px;
    background-color:#d2d2d2;
    width: calc(100vw - 300px);
    display: flex;
    align-items: center;
    padding: 0 40px ;

    &__message{
      height: 50px;
      background-color: white;
      display: flex;
      width: 100vw;
      justify-content: space-between;

        &__main{
          display: flex;
          align-items: center;
          justify-content: center;
          color:#434a54;
          padding-left: 10px;
        } 
        &__picture{
          display: flex;
          align-items: center;

          .contents__chat--form__message__pitcure__image{
            padding-right: 15px;

          }
          .file{
            display: none;
          }
        }

        .hidden {
          display: none;
        }
      
    }
  }
}
.contents__chat--form__send{
  background-color:#38aef0;
  width: 140px;
  height:50px;
  color: white;
  display: flex;
  align-items: center;
  padding-left:30px;
  margin-left: 15px;
  font-size: 16px;
}